---
import FacebookPost from '../FacebookPost.astro'
import PageExample from '../PageExample.astro'
---

<section class='bg-background py-12 text-foreground sm:py-16 lg:py-24'>
    <div
        class='mx-auto flex max-w-6xl flex-col items-center gap-4 px-6 lg:px-8'
    >
        <h2 class='mt-4 text-center text-3xl font-bold sm:text-4xl'>
            ¿Cómo te vamos a ayudar?
        </h2>
        <p
            class='max-w-2xl text-balance text-center text-lg text-foreground-700'
        >
            Tenemos dos servicios principales para aumentar el flujo de
            visualizaciones en lo que vos elijas.
        </p>
        <article
            class='grid grid-cols-1 items-center justify-items-center gap-12 py-12 sm:py-16 md:grid-cols-2'
        >
            <div>
                <header class='mb-4'>
                    <h3 class='text-2xl font-bold sm:text-3xl'>
                        Asesoría de Facebook Ads
                    </h3>
                </header>
                <p class='text-pretty leading-relaxed'>
                    Hacemos campañas de Facebook Ads para atraer a más personas
                    a tu negocio.
                    <strong
                        >No tenés que aprender nada nuevo si no querés</strong
                    >, solo brindarnos información así nosotros podemos
                    optimizarlas lo máximo posible para tus clientes.
                </p>
                <footer class='mt-4'>
                    <a
                        href='https://wa.me/5491151475056'
                        class='py-3 font-bold text-accent hover:underline'
                    >
                        Empezar con la asesoría
                    </a>
                </footer>
            </div>
            <div class='rounded-2xl border border-foreground-50 shadow-lg'>
                <FacebookPost />
            </div>
        </article>
        <article
            class='grid grid-cols-1 items-center justify-items-center gap-12 py-8 sm:py-16 md:grid-cols-2'
        >
            <div class='row-start-2 rounded-lg shadow-lg sm:row-start-1'>
                <PageExample />
            </div>
            <div>
                <header class='mb-4'>
                    <h3 class='text-2xl font-bold sm:text-3xl'>
                        Diseño de Página Web
                    </h3>
                </header>
                <p class='text-pretty leading-relaxed'>
                    Hacemos la página web para tu negocio.
                    <strong
                        >Tampoco tenés que aprender nada nuevo si no querés</strong
                    >, nosotros nos encargamos de todo lo técnico y la
                    investigación.
                </p>
                <footer class='mt-4'>
                    <a
                        href='https://wa.me/5491151475056'
                        class='py-3 font-bold text-accent hover:underline'
                    >
                        Empezar con la asesoría
                    </a>
                </footer>
            </div>
        </article>
    </div>
</section>
