---
import WhatsAppIcon from '../icons/WhatsAppIcon.astro'
---

<section class='bg-background py-12 text-foreground sm:pb-16'>
    <div class='mx-auto max-w-6xl px-4 sm:px-6 lg:px-8'>
        <div
            class='mx-auto grid max-w-xl grid-cols-1 gap-y-12 lg:max-w-full lg:grid-cols-2 lg:items-center lg:gap-x-16'
        >
            <div>
                <div
                    class='flex flex-col items-center gap-6 text-center sm:gap-6 lg:items-start lg:text-left'
                >
                    <h1
                        class='text-balance text-4xl font-bold leading-tight sm:text-[52px] sm:leading-tight'
                    >
                        Vendé más sin dificultad con Nextlevel
                    </h1>
                    <p class='max-w-[500px] text-balance text-lg'>
                        Nuestras campañas de publicidad en
                        <em>Facebook Ads</em>
                        atraerán clientes y ventas a tu negocio.
                    </p>

                    <a
                        title='Envianos un mensaje por WhatsApp'
                        href='https://wa.me/5491151475056'
                        class='flex w-fit items-center justify-center gap-3 rounded-xl bg-orange-500 px-6 py-4 text-base font-bold !leading-none text-accent-foreground transition duration-200 hover:bg-orange-600 focus:bg-orange-600 focus:outline-none active:scale-90'
                    >
                        <span class='size-6'> <WhatsAppIcon /></span>
                        Empezar ahora
                    </a>
                </div>
            </div>

            <div>
                <img class='mx-auto w-full max-w-lg' src='/hero.svg' alt='' />
            </div>
        </div>
    </div>
</section>
