---
import Opinion from '../Opinion.astro'
---

<section class='bg-background py-12 sm:py-16 lg:py-20'>
    <div class='mx-auto max-w-6xl px-6 lg:px-8'>
        <div class='flex flex-col items-center'>
            <h2
                class='mt-4 text-center text-3xl font-bold text-foreground sm:text-4xl'
            >
                Nuestros clientes satisfechos
            </h2>

            <div class='relative mt-10 md:order-2 md:mt-24'>
                <div
                    class='absolute -inset-x-1 inset-y-16 md:-inset-x-2 md:-inset-y-6'
                >
                    <div
                        class='mx-auto size-full max-w-sm rounded-3xl bg-gradient-to-r from-[#DB00FF] to-[#702DFF] opacity-40 blur-md lg:max-w-5xl'
                    >
                    </div>
                </div>

                <div
                    class='relative mx-auto grid max-w-lg grid-cols-1 justify-items-center gap-12 md:max-w-none lg:grid-cols-3 lg:gap-10'
                >
                    <Opinion
                        clientName='Leslie Alexander'
                        clientInfo='Freelance React Developer'
                    >
                        “You made it so simple. My new site is so much faster
                        and easier to work with than my old site. I just choose
                        the page, make the change.”
                    </Opinion>
                    <Opinion
                        clientName='Leslie Alexander'
                        clientInfo='Freelance React Developer'
                    >
                        “You made it so simple. My new site is so much faster
                        and easier to work with than my old site. I just choose
                        the page, make the change.”
                    </Opinion>
                    <Opinion
                        clientName='Leslie Alexander'
                        clientInfo='Freelance React Developer'
                    >
                        “You made it so simple. My new site is so much faster
                        and easier to work with than my old site. I just choose
                        the page, make the change.”
                    </Opinion>
                </div>
            </div>
        </div>
    </div>
</section>
