---
import HeroSection from '../components/sections/HeroSection.astro'
import BenefitsSection from '../components/sections/BenefitsSection.astro'
import CTASection from '../components/sections/CTASection.astro'
import SocialProofSection from '../components/sections/SocialProofSection.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Más clientes, más ventas - Nextlevel'>
    <main>
        <HeroSection />
        <BenefitsSection />
        <SocialProofSection />
        <CTASection />
    </main>
</Layout>
