<section
    class='flex items-center justify-center bg-foreground-50 text-foreground'
>
    <ul
        class='mx-auto grid w-full max-w-6xl grid-cols-1 items-center justify-items-center gap-x-12 gap-y-20 px-4 py-36 sm:grid-cols-2 sm:px-6 lg:grid-cols-3 lg:px-8'
    >
        <li class='flex max-w-xs flex-col items-center gap-3 text-center'>
            <svg
                class='mb-2'
                width='64'
                height='64'
                viewBox='0 0 327 327'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
            >
                <circle cx='163.5' cy='163.5' r='163.5' fill='#DCD2FF'></circle>
                <path
                    d='M163 138C156.37 138 150.011 140.634 145.322 145.322C140.634 150.011 138 156.37 138 163C138 169.63 140.634 175.989 145.322 180.678C150.011 185.366 156.37 188 163 188C169.63 188 175.989 185.366 180.678 180.678C185.366 175.989 188 169.63 188 163C188 156.37 185.366 150.011 180.678 145.322C175.989 140.634 169.63 138 163 138ZM163 204.667C151.949 204.667 141.351 200.277 133.537 192.463C125.723 184.649 121.333 174.051 121.333 163C121.333 151.949 125.723 141.351 133.537 133.537C141.351 125.723 151.949 121.333 163 121.333C174.051 121.333 184.649 125.723 192.463 133.537C200.277 141.351 204.667 151.949 204.667 163C204.667 174.051 200.277 184.649 192.463 192.463C184.649 200.277 174.051 204.667 163 204.667ZM163 100.5C121.333 100.5 85.75 126.417 71.3334 163C85.75 199.583 121.333 225.5 163 225.5C204.667 225.5 240.25 199.583 254.667 163C240.25 126.417 204.667 100.5 163 100.5Z'
                    fill='#8A4DFF'></path>
            </svg>

            <p class='text-pretty text-lg font-bold'>Secured Payments</p>
            <p class='text-pretty'>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            </p>
        </li><li class='flex max-w-xs flex-col items-center gap-3 text-center'>
            <svg
                class='mb-2'
                width='64'
                height='64'
                viewBox='0 0 327 327'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
            >
                <circle cx='163.5' cy='163.5' r='163.5' fill='#DCD2FF'></circle>
                <path
                    d='M163 138C156.37 138 150.011 140.634 145.322 145.322C140.634 150.011 138 156.37 138 163C138 169.63 140.634 175.989 145.322 180.678C150.011 185.366 156.37 188 163 188C169.63 188 175.989 185.366 180.678 180.678C185.366 175.989 188 169.63 188 163C188 156.37 185.366 150.011 180.678 145.322C175.989 140.634 169.63 138 163 138ZM163 204.667C151.949 204.667 141.351 200.277 133.537 192.463C125.723 184.649 121.333 174.051 121.333 163C121.333 151.949 125.723 141.351 133.537 133.537C141.351 125.723 151.949 121.333 163 121.333C174.051 121.333 184.649 125.723 192.463 133.537C200.277 141.351 204.667 151.949 204.667 163C204.667 174.051 200.277 184.649 192.463 192.463C184.649 200.277 174.051 204.667 163 204.667ZM163 100.5C121.333 100.5 85.75 126.417 71.3334 163C85.75 199.583 121.333 225.5 163 225.5C204.667 225.5 240.25 199.583 254.667 163C240.25 126.417 204.667 100.5 163 100.5Z'
                    fill='#8A4DFF'></path>
            </svg>

            <p class='text-pretty text-lg font-bold'>Secured Payments</p>
            <p class='text-pretty'>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            </p>
        </li><li
            class='col-auto flex max-w-xs flex-col items-center gap-3 text-center sm:col-span-2 lg:col-auto'
        >
            <svg
                class='mb-2'
                width='64'
                height='64'
                viewBox='0 0 327 327'
                fill='none'
                xmlns='http://www.w3.org/2000/svg'
            >
                <circle cx='163.5' cy='163.5' r='163.5' fill='#DCD2FF'></circle>
                <path
                    d='M163 138C156.37 138 150.011 140.634 145.322 145.322C140.634 150.011 138 156.37 138 163C138 169.63 140.634 175.989 145.322 180.678C150.011 185.366 156.37 188 163 188C169.63 188 175.989 185.366 180.678 180.678C185.366 175.989 188 169.63 188 163C188 156.37 185.366 150.011 180.678 145.322C175.989 140.634 169.63 138 163 138ZM163 204.667C151.949 204.667 141.351 200.277 133.537 192.463C125.723 184.649 121.333 174.051 121.333 163C121.333 151.949 125.723 141.351 133.537 133.537C141.351 125.723 151.949 121.333 163 121.333C174.051 121.333 184.649 125.723 192.463 133.537C200.277 141.351 204.667 151.949 204.667 163C204.667 174.051 200.277 184.649 192.463 192.463C184.649 200.277 174.051 204.667 163 204.667ZM163 100.5C121.333 100.5 85.75 126.417 71.3334 163C85.75 199.583 121.333 225.5 163 225.5C204.667 225.5 240.25 199.583 254.667 163C240.25 126.417 204.667 100.5 163 100.5Z'
                    fill='#8A4DFF'></path>
            </svg>

            <p class='text-pretty text-lg font-bold'>Secured Payments</p>
            <p class='text-pretty'>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            </p>
        </li>
    </ul>
</section>
