<header class='bg-white'>
    <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
        <nav class='flex h-16 items-center justify-between'>
            <div class='shrink-0'>
                <a href='/' title='Ir al inicio' class='text-xl font-bold'>
                    Nextlevel
                </a>
            </div>

            <a
                href='/'
                title='Comenzar la asesoría'
                class='ml-10 hidden items-center justify-center rounded-lg border border-transparent bg-blue-600 px-4 py-2 text-base font-semibold text-white transition-all duration-200 hover:bg-blue-700 focus:bg-blue-700 sm:inline-flex'
                role='button'
            >
                Comenzar ahora
            </a>
        </nav>
    </div>
</header>
