<header class='sticky top-0 bg-white text-foreground'>
    <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
        <nav class='flex h-16 items-center justify-between'>
            <div class='shrink-0'>
                <a href='/' title='Ir al inicio' class='text-xl font-bold'>
                    Nextlevel
                </a>
            </div>

            <a
                href='/'
                title='Comenzar la asesoría'
                class='ml-10 hidden items-center justify-center rounded-lg border border-transparent bg-accent-foreground px-4 py-2 text-base font-semibold text-accent-700 transition-all duration-200 hover:bg-accent-100 focus:bg-accent-200 sm:inline-flex'
                role='button'
            >
                Quiero que me contacten
            </a>
        </nav>
    </div>
</header>
