<form action='/' method='POST' class='mt-8 sm:mt-10'>
    <div
        class='group relative p-2 sm:rounded-xl sm:border sm:border-foreground-400 sm:focus-within:border-foreground-900 sm:focus-within:ring-1 sm:focus-within:ring-foreground-900'
    >
        <input
            type='email'
            name=''
            id=''
            placeholder='Ingrese su email'
            class='block w-full rounded-xl border border-foreground-400 bg-transparent p-4 text-foreground-900 outline-none placeholder:text-foreground-900 focus:border-foreground-900 focus:ring-1 focus:ring-foreground-900 sm:border-none sm:focus:border-transparent sm:focus:ring-0'
            required=''
        />
        <div
            class='mt-4 sm:absolute sm:inset-y-0 sm:right-0 sm:mt-0 sm:flex sm:items-center sm:pr-2'
        >
            <button
                type='submit'
                class='inline-flex rounded-lg bg-gradient-to-br from-accent-500 to-accent-700 px-6 py-3 text-lg font-bold text-accent-foreground transition-all duration-200 hover:bg-accent-600 focus:bg-accent-600 focus:outline-none'
            >
                Enviar email
            </button>
        </div>
    </div>
</form>
